html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  color: #fff;
  overflow: hidden;
  /*background: radial-gradient(rgba(0,0,0,.5), black);*/
  background: grey;
  position: relative;
}

i,a,h1,ul,li {
  transition: .3s ease-in-out;
}

a {
  color: inherit !important;
}

ul, li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

i, a, button, select, div {
  text-decoration: none !important;
  outline: none !important;
}

section {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: center;
  transition: .8s cubic-bezier(0.83, -0.03, 0.54, 0.99);
  background: white;
}

.selected {
  transform: translate(0,0) !important;
  animation: blur .8s;
}

.top {
  z-index: 1 !important;
}

.position-tl {
  transform: translate(-100%,-100%);
}
.position-tm {
    transform: translate(0,-100%);
}
.position-tr {
  transform: translate(100%,-100%);
}
.position-ml {
  transform: translate(-100%,0);
}
.position-mm {
  transform: translate(0,100%);
}
.position-mr{
  transform: translate(100%,0);
}
.position-bl {
  transform: translate(-100%,100%);
}
.position-bm {
  transform: translate(0,100%);
}
.position-br {
  transform: translate(100%,100%);
}

.section-tl {
  background: red;
}
.section-tm {
  background: blue;
}
.section-tr {
  background: green;
}
.section-ml {
  background: red;
}
.section-mm {
  background: blue;
}
.section-mr {
  background: green;
}
.section-bl {
  background: red;
}
.section-bm {
  background: blue;
}
.section-br {
  background: green;
}


.section-content {
  position: absolute;
  width: 100%;
  max-width: 60em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
} 

nav>ul>li {
  cursor: pointer;
  padding-left: 1em;
  padding-bottom: 1em;
}

nav {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

@keyframes blur {
  100% { 
    filter: blur(.1em);
    text-shadow: -5px 0 5px rgba(255,255,255,1);
    box-shadow: 5px 0 10px 5px rgba(0,0,0,0.5);    
  }
}