html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 100;
  color: #fff;
  overflow: hidden;
  /*background: radial-gradient(rgba(0,0,0,.5), black);*/
  background: grey;
  position: relative;
}

i,a,h1,ul,li {
  transition: .3s ease-in-out;
}

a {
  color: inherit !important;
}

ul, li {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

i, a, button, select, div {
  text-decoration: none !important;
  outline: none !important;
}

section {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: center;
  transition: .8s cubic-bezier(0.83, -0.03, 0.54, 0.99);
  /*border: 1px solid white;*/
  background: white;
}

.top {
  z-index: 1 !important;
}

.selected {
  transform: translate(0,0) !important;
}

.position-t.section-t {
  background: darkred;
  transform: translate(0,-100%);
}

.position-b.section-b {
  background: rgba(0,0,0,.2);
  transform: translate(0, 100%);
}

.position-r.section-r {
  background: rgba(0,0,0,.3);
  transform: translate(100%,0);
}

.position-l.section-l {
  background: rgba(0,0,0,.5);
  transform: translate(-100%,0);
}

.position-bl.section-bl {
  background: rgba(0,0,0,.6);
  transform: translate(-100%,100%);
}

.position-br.section-br {
  background: rgba(0,0,0,.7);
  transform: translate(100%,100%);
}

.position-tl.section-tl {
  background: rgba(0,0,0,.8);
  transform: translate(-100%,-100%);
}

.position-tr.section-tr {
  background: rgba(0,0,0,.9);
  transform: translate(100%,-100%);
}

.section-content {
  position: absolute;
  width: 100%;
  max-width: 60em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

nav>ul>li {
  cursor: pointer;
  padding-left: 1em;
  padding-bottom: 1em;
}

nav {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}